# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Java CI

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 20
      matrix:
        java: [ 8, 11, 17, 21 ]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      with:
        persist-credentials: false
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}
        cache: 'maven'
        # these values cause the plugin to set up the Maven settings.xml file
        server-id: apache.snapshots.https # Value of the distributionManagement/repository/id field of the pom.xml
        server-username: NEXUS_USER # env variable for username in deploy
        server-password: NEXUS_PW # env variable for token in deploy
    - name: Build with Maven
      # Use the default goal
      if: matrix.java == 8
      env:
        NEXUS_USER: ${{ secrets.NEXUS_USER }}
        NEXUS_PW: ${{ secrets.NEXUS_PW }}
      run: mvn --show-version --batch-mode --no-transfer-progress
    - name: Deploy SNAPSHOT
      # must run directly after 'Build with Maven'
      if: matrix.java == 8 && github.repository == 'apache/commons-numbers' && github.ref_name == 'master'
      env:
        NEXUS_USER: ${{ secrets.NEXUS_USER }}
        NEXUS_PW: ${{ secrets.NEXUS_PW }}
      run: >
        mvn --show-version --batch-mode --no-transfer-progress deploy -Dgpg.skip 
        -DskipTests -Drat.skip -Djacoco.skip -Dcyclonedx.skip -Dspotbugs.skip -Dspdx.skip -Dpmd.skip
    - name: Build with Maven including examples
      # Examples require Java 11+.
      # Building javadoc errors when run with the package phase with an error about
      # the module path and the unamed module (despite using an automatic module name).
      # Here we run the build and javadoc generation separately (which requires install of sources)
      if: matrix.java > 8
      run: |
        mvn --show-version --batch-mode --no-transfer-progress -P examples clean install -Dmaven.javadoc.skip
        mvn --show-version --batch-mode --no-transfer-progress -P examples javadoc:javadoc -Dmaven.javadoc.skip=false
